venv/
env/
.venv/
satellite_env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.ipynb_checkpoints/
*.ipynb
data/
checkpoints/cloud_classifier.pth
checkpoints/
logs/
inpainting_data/
partialconv/
*.pth
*.pt
*.onnx
.DS_Store
Thumbs.db
.vscode/
.idea/
kaggle.json

