# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter & Colab
.ipynb_checkpoints/
*.ipynb

# checkpoints
checkpoints/
outputs/
logs/

# Model weights
*.pth
*.pt
*.onnx

# System / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Colab temporary files
kaggle.json